@font-face {
  font-family: "JetBrains Mono";            /* Custom font name */
  src: url("fonts/JetBrainsMono-Bold.woff2") format("woff2"),
       url("fonts/JetBrainsMono-Bold.woff") format("woff");
  font-weight: 700;                         /* Bold = 700 */
  font-style: normal;
}

body {
  font-family: "JetBrains Mono", monospace; /* Apply font to body */
}



.tabbrowser-tab[selected]:not(:hover):not([pinned]) .tab-label-container,
#tabbrowser-tabs:not([closebuttons="activetab"]) .tabbrowser-tab:not(:hover):not([pinned]) .tab-label-container{
  padding-inline-end: 6px !important;
}
.tab-icon-stack{
  margin-inline-start: auto
}
.tab-label-container{
  max-width: min-content;
  margin-inline-end: auto;
}




/* This style hides some information from the extensions-button panel, but makes it appear more compact. Might be useful for someone having lot of extensions */

#unified-extensions-view{
  --uei-icon-size: 16px;
}
.unified-extensions-item-menu-button.subviewbutton{
  padding: 0px !important;
  margin-inline-end: 0 !important;
}
.unified-extensions-item-action-button.subviewbutton{
  padding-block: 6px !important;
}
.unified-extensions-item-menu-button.subviewbutton > .toolbarbutton-icon{
  padding: 4px !important;
}
.unified-extensions-item-message-deck{
  display: none
}
#unified-extensions-view > vbox > vbox > .unified-extensions-item{
  padding-block: 0px !important;
}
#unified-extensions-panel .unified-extensions-item{
  margin-block: 0 !important;
}


/* Always show tab close button on hover and never otherwise */
.tabbrowser-tab .tab-close-button{
	display:none;
  }
  .tabbrowser-tab:not([pinned]):hover .tab-close-button{
	display: flex !important;
	align-items: center;
  }



:root{
  --uc-navbar-transform: -40px;
  --uc-autohide-toolbar-delay: .40s;
  --uc-autohide-toolbar-duration: 200ms;
}
:root[uidensity="compact"]{ --uc-navbar-transform: -34px }

#navigator-toolbox > div{ display: contents; }
:root[sessionrestored] :where(#nav-bar,#PersonalToolbar,#tab-notification-deck,.global-notificationbox){
  transform: translateY(var(--uc-navbar-transform))
}
:root:is([customizing],[chromehidden*="toolbar"]) :where(#nav-bar,#PersonalToolbar,#tab-notification-deck,.global-notificationbox){
  transform: none !important;
  opacity: 1 !important;
}

#nav-bar:not([customizing]){
  opacity: 0;
  transition:  transform var(--uc-autohide-toolbar-duration) ease var(--uc-autohide-toolbar-delay), opacity var(--uc-autohide-toolbar-duration) ease var(--uc-autohide-toolbar-delay) !important;
  position: relative;
  z-index: 2;
}
#titlebar{ position: relative; z-index: 3 }

#navigator-toolbox,
#sidebar-box,
#sidebar-main,
#sidebar-splitter,
#tabbrowser-tabbox{
  z-index: auto !important;
}
#navigator-toolbox:focus-within > .browser-toolbar{
  transform: translateY(0);
  opacity: 1;
  transition-duration: var(--uc-autohide-toolbar-duration), var(--uc-autohide-toolbar-duration) !important;
  transition-delay: 0s !important;
}
#titlebar:hover ~ .browser-toolbar,
.browser-titlebar:hover ~ :is(#nav-bar,#PersonalToolbar),
#nav-bar:hover,
#nav-bar:hover + #PersonalToolbar{
  transform: translateY(0);
  opacity: 1;
  transition-duration: var(--uc-autohide-toolbar-duration), var(--uc-autohide-toolbar-duration) !important;
  transition-delay: 0s !important;
}
:root[sessionrestored] #urlbar[popover]{
  opacity: 0;
  pointer-events: none;
  transition: transform var(--uc-autohide-toolbar-duration) ease var(--uc-autohide-toolbar-delay), opacity var(--uc-autohide-toolbar-duration) ease var(--uc-autohide-toolbar-delay);
  transform: translateY(var(--uc-navbar-transform));
}
#mainPopupSet:has(> [panelopen]:not(#ask-chat-shortcuts,#tab-preview-panel)) ~ toolbox #urlbar[popover],
.browser-titlebar:is(:hover,:focus-within) ~ #nav-bar #urlbar[popover],
#nav-bar:is(:hover,:focus-within) #urlbar[popover],
#urlbar-container > #urlbar[popover]:is([focused],[open]){
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0ms;
  transform: translateY(0);
}
#urlbar-container > #urlbar[popover]:is([focused],[open]){
 transition-duration: 100ms;
}
#mainPopupSet:has(> [panelopen]:not(#ask-chat-shortcuts,#tab-preview-panel)) ~ #navigator-toolbox > .browser-toolbar{
  transition-delay: 33ms !important;
  transform: translateY(0);
  opacity: 1;
}
#nav-bar.browser-titlebar{
  background: inherit;
  backdrop-filter: blur(10px); /* Makes the toolbar blurry/transparent */
}
#toolbar-menubar:not([autohide="true"]) ~ #nav-bar.browser-titlebar{
  background-position-y: -28px;
  border-top: none !important;
}
#PersonalToolbar{ transition: transform var(--uc-autohide-toolbar-duration) ease var(--uc-autohide-toolbar-delay) !important; position: relative; z-index: 1 }
:root[sessionrestored]:not([inFullscreen],[chromehidden~="toolbar"]) > body > #browser{ margin-top: var(--uc-navbar-transform); }

/* Hide the "Toggle Reader View" and "Bookmark This Page" icons */
#reader-mode-button,
#star-button-box {
  display: none !important;
}

/* Resize and center the search box */
#urlbar-container {
  max-width: 275px !important;
  min-width: 100px !important;
  margin: 0 !important;
}

/* Hide the Pocket icon in the address bar */
#save-to-pocket-button { display: none !important; }

/* Hide the "List All Tabs" button from the tab bar */
#alltabs-button { display: none !important; }

/* Hide the shield button (Tracking Protection) */
#tracking-protection-icon-container {
    display: none !important;
}



/* Move the "Open Application Menu" icon to the rightmost position in the tab bar */

#nav-bar {
    margin-left: 25%;
    margin-right: 25%;
}



/* Make the navigation toolbar a flex container with center alignment */
#nav-bar {
  position: default !important;
	top: 4.5%;

	@media (max-width: 1100px) {
		left: 0%;
		right: 0%;
	}

	@media (max-width: 800px) {
		left: 30px;
		right: 30px;
	}

	z-index: 1;
	transition: top 0.3s cubic-bezier(0.270, 0.910, 0.435, 1.280),
	opacity 0.1s ease !important;
	border-top: none !important;
	border-radius: 10px;
	border: 1px solid var(--tab-selected-bgcolor) !important;
	background: var(--lwt-accent-color) !important;
	opacity: 0;
	overflow: visible !important;
	
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1rem;
    top: -1rem;
  }

}
#tabbrowser-arrowscrollbox:not([overflowing]){
  --uc-flex-justify: middle ; 
  margin-left: 45.5%;
 }
 scrollbox[orient="horizontal"]{
   justify-content: var(--uc-flex-justify,initial);
 }

